# Dev environment overrides
replicaCount: 1

resources:
  requests:
    memory: "32Mi"
    cpu: "50m"
  limits:
    memory: "64Mi"
    cpu: "100m"

ingress:
  className: "nginx-tietoevry"
  hosts:
    - host: csa-whoami-2.dev.tietoevry.platform-engineer.cloud